
.sidebar {
    overflow-y: auto;

    * {
        transition: all .2s ease-in-out;
    }
    &::-webkit-scrollbar-track{
        background-color: #252ba0;
    }
    &::-webkit-scrollbar{
        width: 12px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #10156e;
    }
    
    
    .navlink {
        
        cursor: pointer;

        &:hover {
            background-color: rgb(158, 156, 255) !important;
            p {color: #fff !important;}

            span > * {
                color: #0A0D51 !important;
            }
        }

    }
    
}